<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Webrings</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../square-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <pre id="site-banner">
╦╔═╦═╗╦╔═╗╔═╗╦╦═╗╔╦╗╔═╗╔╗╔╔═╗╔═╗╦═╗
╠╩╗╠╦╝║╚═╗╠═╣║╠╦╝ ║║╠═╣║║║║  ║╣ ╠╦╝
╩ ╩╩╚═╩╚═╝╩ ╩╩╩╚══╩╝╩ ╩╝╚╝╚═╝╚═╝╩╚═
Interesting Websites</pre>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="https://krisairdancer.com/underground/">Home</a>
                <a href="https://krisairdancer.com/schub">SCHub</a>
                <a href="https://krisairdancer.com/blog">Blog</a>
                <a href="https://krisairdancer.com/guestbook">Guestbook</a>
                <a href="https://krisairdancer.com/vidya-clone">Vidya Clone</a>
            &gt;&gt;&gt;</nav>

            <h2>The single greatest website ever</h2>
            <p>- <a href="https://www.chaosofdelight.org/">A Chaos of Delight</a></p>

            <h2>Portfolio Sites</h2>

            <p>- <a href="https://zaneenders.com/">Zane Enders</a></p>
            <p>- <a href="https://bryanredd.com/">Bryan Redd</a></p>
            <p>- <a href="https://chrisjang.com/">Chris Jang</a> - A nice looking portfolio site</p>
            
            <h2>Terminal Websites</h2>
            
            <p>- <a href="https://term.m4tt72.com/">M4TT72</a></p>
            <p>- <a href="https://fkcodes.com/">Forrest Knight Terminal</a></p>
            <p>- <a href="https://kb5vq.csb.app/">KB5VQ</a></p>
            <p>- <a href="https://craigfeldman.com/">Craig Feldman</a></p>
            
            <h2>418 Teapots</h2>
            <p>- <a href="https://www.google.com/teapot">Google 418</a></p>
            
            <h2>Miscellaneous</h2>

            <p>- <a href="https://devurandom.xyz/">devurandom.xyz</a></p>
            <p>- <a href="https://neocities.org/">neocities.org</a></p>
            <p>- <a href="https://exo.pet/">exo.pet</a></p>
            <p>- <a href="https://www.omfgdogs.com/">OMFG Dogs</a></p>

        </div>
    </div>
</body>
<style></style>
<script></script>
</html>