<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Serial Collection Hub</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <pre id="site-banner">
╦╔═╦═╗╦╔═╗╔═╗╦╦═╗╔╦╗╔═╗╔╗╔╔═╗╔═╗╦═╗
╠╩╗╠╦╝║╚═╗╠═╣║╠╦╝ ║║╠═╣║║║║  ║╣ ╠╦╝
╩ ╩╩╚═╩╚═╝╩ ╩╩╩╚══╩╝╩ ╩╝╚╝╚═╝╚═╝╩╚═
Serial Collection Hub</pre>

            <nav id="navbar">
                &lt;&lt;&lt;
                <a href="https://krisairdancer.com/">Home</a>
                <a href="https://krisairdancer.com/blog">Blog</a>
                <a href="https://krisairdancer.com/guestbook">Guestbook</a>
                <a href="https://krisairdancer.com/vidya-clone">Vidya Clone</a>
                &gt;&gt;&gt;
            </nav>

            <br><p>A collection of links to interests.</p>
            <p>While you're here, please sign the <a href="https://krisairdancer.com/guestbook">guestbook</a>.</p>

            <h2>Interesting Websites</h2>
            <p>- <a href="https://krisairdancer.com/interesting-sites">&gt;&gt;&gt;&gt;&gt;</a></p>

            <h2>Webrings</h2>
            <p>- <a href="https://krisairdancer.com/webrings">&gt;&gt;&gt;&gt;&gt;</a></p>

            <h2>Dungeons & Dragons</h2>
            <p>- <a href="https://seanmccoy.substack.com/p/dungeon23">Dungeon23</a></p>

            <h2>Audio</h2>
            <p>- <a href="https://www.vipvgm.net/">Vidya Intarweb Playlist</a></p>
            
            <h2>Visual</h2>
            <p>- <a href="https://www.deviantart.com/search/deviations?q=stamps">DA Stamps</a></p>
            
            <h2>Articles</h2>
            <p>- <a href="https://blog.tjcx.me/p/consume-less-create-more">Consume less, create more</a></p>
            <p>- <a href="https://jeffhuang.com/productivity_text_file/ ">Jeff Huang's Productivity Text File</a></p>
            
            <h2>Edibles</h2>
            <p>- <a href="https://www.coloradotoffee.com/">Colorado Toffee</a></p>
        </div>
    </div>
</body>
<style>
</style>
<script></script>
</html>