<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Blog</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <h1>Blog</h1>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="https://krisairdancer.com/">Home</a>
                <a href="https://krisairdancer.com/ka">SCHub</a>
            &gt;&gt;&gt;</nav>

            <h2>Posts</h2>

            <p id="posts-list"></p>
            
        </div>
    </div>
</body>
<script>
    fetch("http://localhost:11001/blog-content/posts.json") // Load post data.
        .then(response => response.json()) // Convert post data into JSON.
        .then(data => { // Inject post data into collapsible content boxes.
            // TODO: Need to generate post content for each item in the JSON, properly format it, and apply it to the HTML.
            console.log(data)

            data.forEach(year => {
                const yearHeader = document.createElement("strong")
                yearHeader.innerText = year.year
                document.querySelector('#posts-list').appendChild(yearHeader)

                year.posts.forEach(post => {
                    const accordion = document.createElement("div")
                    accordion.classList.add("accordion")
                    document.querySelector('#posts-list').appendChild(accordion)

                    const postContent = document.createElement("div")
                    postContent.classList.add("postContent")
                    postContent.textContent = post.body
                    accordion.appendChild(postContent)

                })

                const lineBreak = document.createElement("br")
                document.querySelector('#posts-list').appendChild(lineBreak)
            })
        })
        .then(function() {
            console.log("RUNNING")

            let cards = document.querySelectorAll('.accordion')

            cards.forEach(card => {
                console.log(card)

                card.addEventListener('click', function() {
                    console.log('TEST')
                    this.firstChild.classList.toggle('active')
                })
            })
        })
</script>
<style>
    /***** Collapsible Content Styles *****/

    .accordion {
        width: 100%;
        height: 100px;
        background-color: green;
        border: 2px solid pink;
    }

    .accordion .postContent {
        position: relative;
        background-color: red;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: auto;
    }

    .accordion .postContent.active {
        height: 100%;
    }





    .collapsible-button:hover {
        color: white;
        border-color: white;
    }

    /***** Other *****/

    .post-card-font {
        font-family:'Courier New', monospace;
        font-size: 16px;
    }

    .post-card-font p {
        font-family:'Courier New', monospace;
        font-size: 14px;
    }
</style>
</html>