<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Guestbook</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <h1>Guestbook</h1>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="http://localhost:11001/ka">Home</a>
            &gt;&gt;&gt;</nav>


        </div>
    </div>
</body>
<style></style>
<script></script>
</html>