<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Guestbook</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
    <!-- <script src="./guestbook.js"></script> -->
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <h1>Guestbook</h1>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="http://localhost:11001/ka">Home</a>
            &gt;&gt;&gt;</nav>

            <form action="http://localhost:11001/ka/sign-guestbook">
                <p>Handle:</p>
                <div>
                    <input name="handle" type="text">
                </div>
                <p>Message</p>
                <div>
                    <textarea name="message" id="guestbook-message" cols="40" rows="3"></textarea>
                </div>
                <button type="submit">Sign</button>
            </form>

            <div id="guestbook-entries"></div>
        </div>
    </div>
</body>
<style></style>
<script>

    console.log('It works!');

    fetch('../guestbook.json')
        .then(response => response.json())
        .then(data => {
            let guestbook = data;
            console.log(guestbook);

            // TODO: Build HTML string to display guestbook entries


            // Apply HTML to DOM

            let guestbookEntries = document.querySelector('#guestbook-entries');

            guestbookEntries.textContent = 'bricks!';
            guestbookEntries.innerHTML = '<div><p>Hello, World!</p></div>'
        });

    



</script>
</html>

<!--
    TODO:
    
    [ ] Page should populate all entries from guestbook.json when loaded
    [ ] Add form to page to allow users to enter a message
    [ ] Messages should be saved to guestbook.json
-->