<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Webrings</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <h1>Programming Reference</h1>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="https://krisairdancer.com/">Home</a>
                <a href="https://krisairdancer.com/ka">SCHub</a>
            &gt;&gt;&gt;</nav>

            <h2>JavaScript</h2>

            <h3>Date & Time</h3>
            <p>- <a href="https://stackoverflow.com/questions/10211145/getting-current-date-and-time-in-javascript">Getting current date and time in JavaScript - StackOverflow</a></p>
            
        </div>
    </div>
</body>
<style></style>
<script></script>
</html>