<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Webrings</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <h1>Webrings & Fedirings</h1>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="http://localhost:11001/ka">Home</a>
            &gt;&gt;&gt;</nav>

            <h2>Info</h2>
            <p><a href="https://en.wikipedia.org/wiki/Webring">Webring - Wikipedia</a></p>
            <p><a href="https://en.m.wikipedia.org/wiki/Federation_(information_technology)">Federation (IT) - Wikipedia</a></p>
            <p><a href="https://en.m.wikipedia.org/wiki/Fediverse">Fediverse - Wikipedia</a></p>
            
            <h2>Webrings</h2>
            <p><a href="https://fediring.net/#table-of-members">Fediring.net</a></p>
            <p><a href="https://yesterweb.org/webring/">The Yesterweb Ring</a></p>
        </div>
    </div>
</body>
<style></style>
<script></script>
</html>