<!-- ██╗  ██╗██████╗  █████╗ ██████╗  ██████╗   -->
<!-- ██║ ██╔╝╚════██╗██╔══██╗╚════██╗██╔════╝   -->
<!-- █████╔╝  █████╔╝███████║ █████╔╝███████╗   -->
<!-- ██╔═██╗  ╚═══██╗██╔══██║██╔═══╝ ██╔═══██╗  -->
<!-- ██║  ██╗██████╔╝██║  ██║███████╗╚██████╔╝  -->
<!-- ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚══════╝ ╚═════╝  ╦╔═╦═╗╦╔═╗╔═╗╦╦═╗╔╦╗╔═╗╔╗╔╔═╗╔═╗╦═╗ -->
<!--                                           ╠╩╗╠╦╝║╚═╗╠═╣║╠╦╝ ║║╠═╣║║║║  ║╣ ╠╦╝ -->
<!--                                           ╩ ╩╩╚═╩╚═╝╩ ╩╩╩╚══╩╝╩ ╩╝╚╝╚═╝╚═╝╩╚═ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../3390-group-nums/corn.png" type="image/x-icon">
    <title>CS 3390 Group Numbers</title>
</head>
<body>
    <h1>CS 3390 Group Numbers</h1>
    <p>Life is pain - CS 3390 Student</p>
    <main id="main">
        <div class="image" style='background-image: url(../3390-group-nums/scans/1.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/2.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/3.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/4.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/5.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/6.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/7.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/8.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/9.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/10.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/11.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/12.jpg)'></div>
        <div class="image nsfw" style='background-image: url(../3390-group-nums/scans/13.jpg)'>
            <div class="nsfw-overlay"><p>NSFW</p><p>(click to reveal)</p></div>
        </div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/14.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/15.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/16.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/17.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/18.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/19.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/20.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/21.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/22.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/23.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/24.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/25.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/26.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/27.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/28.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/29.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/30.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/31.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/32.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/33.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/33b.jpg)'>
            <div class="front-back-overlay"><p>front</p></div>
        </div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/34.jpg)'>
            <div class="front-back-overlay"><p>back</p></div>
        </div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/35.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/36.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/37.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/38.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/39.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/40.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/41.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/42.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/43.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/44.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/45.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/46.jpg)'></div>
        <div class="image nsfw" style='background-image: url(../3390-group-nums/scans/47.jpg)'>
            <div class="nsfw-overlay"><p>NSFW</p><p>(click to reveal)</p></div>
        </div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/48.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/49.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/50.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/51.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/52.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/53.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/54.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/55.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/56.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/57.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/58.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/59.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/60.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/61.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/62.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/63.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/64.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/65.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/66.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/67.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/68.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/69.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/70.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/71.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/72.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/73.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/74.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/75.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/76.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/77.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/78.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/79.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/80.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/81.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/82.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/83.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/84.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/85.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/86.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/87.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/88.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/89.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/90.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/91.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/92.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/93.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/94.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/95.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/96.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/97.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/98.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/99.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/100.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/101.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/102.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/103.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/104.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/105.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/106.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/107.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/108.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/109.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/110.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/111.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/112.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/113.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/114.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/115.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/116.jpg)'></div>
        <div class="image" style='background-image: url(../3390-group-nums/scans/117.jpg)'></div>
    </main>
</body>
</html>
<style>
    body {
        background-color: #122D4A;
        color: #FFA366;
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 5px;
    }

    p {
        margin: 0px;
        padding: 0px;
        text-align: center;
        margin-bottom: 10px;
    }

    .image {
        display: flex;
        width: 400px;
        height: 400px;
        box-shadow: 3px 3px 15px #081421;
        border-radius: 5px;
        margin: 5px;
        background-position: center;
        background-size: cover;
    }

    .nsfw-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 400px;
        border-radius: 5px;
        background-color: rgb(228, 228, 228);
        content: 'NSFW';
        color: black;
    }

    .nsfw-overlay:hover {
        cursor: pointer;
    }

    .front-back-overlay {
        height: 20px;
        width: 35px;
        color: black;
        background-color: rgba(0, 0, 0, 0.493);
        border-radius: 3px;
        text-align: center;
    }

    .image-hover:hover {
        cursor: pointer;
    }

    /***** MEDIA QUERRIES *****/

    @media screen and (width < 475px) {
        h1 {
            font-size: 1.5rem;
        }

        .image {
            width: 300px;
            height: 300px;
            background-position: center;
            background-size: cover;
        }

        .nsfw-overlay {
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 300px;
        }
    }

    @media screen and (width < 350px) {
        .image {
            width: 200px;
            height: 200px;
            background-position: center;
            background-size: cover;
        }

        .nsfw-overlay {
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
        }
    }

    @media screen and (width < 250px) {
        p {
            font-size: 0.75rem;
        }
        
        .image {
            width: 100px;
            height: 100px;
            background-position: center;
            background-size: cover;
        }

        .nsfw-overlay {
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
        }

        .front-back-overlay {
            height: 15px;
            width: 25px;
            color: black;
            background-color: rgba(0, 0, 0, 0.493);
            border-radius: 3px;
        }
    }
</style>
<script>
    let images = document.querySelectorAll('.image');

    images.forEach(image => {

        image.addEventListener('click', e => {

            if (image.classList.contains('nsfw'))
            {
                let child = image.childNodes[1];

                // Remove overlay
                if (child.classList.contains('nsfw-overlay'))
                {
                    child.classList.remove('nsfw-overlay');
                    child.innerHTML = '';
                    image.classList.add('image-hover');
                }
                else // Add overlay
                {
                    child.classList.add('nsfw-overlay');
                    child.innerHTML = '<p>NSFW</p><p>(click to reveal)</p>';
                }
            }
        });
    });
</script>