12 lines (11 sloc)  296 Bytes

<link rel="stylesheet" href="styles.css">
<title>Airdancer Pi</title>
<link rel="shortcut icon" href="/wind-icon.png" type="image/png">
<body>
    <h1>Hi, I'm Chris!</h1>
    <p>Welcome to my portfolio site.</p>
    <p>It's a bit ugly right now. But I hope to have it looking nice sometime soon.</p>
    <h2>Projects</h2>
    <p><a href="https://krisairdancer.github.io/6630-lego-set-visualizer/index.html">Here's</a> my CS 5630 Visualization for Data Science final project.</p>
</body>