<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer Dot Com</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <p id="site-banner"> ██████╗███╗   ███╗ ╦╔═╦═╗╦╔═╗╔═╗╦╦═╗╔╦╗╔═╗╔╗╔╔═╗╔═╗╦═╗<br>██╔════╝████╗ ████║ ╠╩╗╠╦╝║╚═╗╠═╣║╠╦╝ ║║╠═╣║║║║  ║╣ ╠╦╝<br>██║     ██╔████╔██║ ╩ ╩╩╚═╩╚═╝╩ ╩╩╩╚══╩╝╩ ╩╝╚╝╚═╝╚═╝╩╚═<br>██║     ██║╚██╔╝██║ The Portfolio of Chris Marston<br>╚██████╗██║ ╚═╝ ██║ v0.2.0<br> ╚═════╝╚═╝     ╚═╝</p>
            <p id="site-banner-mobile"> ██████╗███╗   ███╗ The<br>██╔════╝████╗ ████║ Portfolio of<br>██║     ██╔████╔██║ Chris Marston<br>██║     ██║╚██╔╝██║ v0.2.0<br>╚██████╗██║ ╚═╝ ██║<br> ╚═════╝╚═╝     ╚═╝</p>
            <p id="site-banner-tiny">The<br>Portfolio of<br>Chris Marston</p>

            <h2>About</h2>
            <p>I'm Chris Marston and welcome to my website. I'm a computer science student in the United States. When I'm not studying for exams, you'll likely find me at my keyboard working on a project, climbing, or hiking.</p>
            
            <h2>Projects</h2>
            <p>- <a href="https://krisairdancer.github.io/6630-lego-set-visualizer/index.html">Final Project</a> for CS 5630: Visualization for Data Science</p>
            <p>- A <a href="https://github.com/KrisAirdancer/vidya-clone">clone</a> of the <a href="https://www.vipvgm.net/">Vidya Intarweb Playlist</a> by Cats777 - WIP</p>
            <p>- This website - repo <a href="https://github.com/KrisAirdancer/krisairdancer-dot-com">here</a></p>
            <p>- A <a href="https://krisairdancer.github.io/cs-3390-group-numbers/">webpage</a> to display group number slips from my CS 3390 class</p>
            <p>- A <a href="https://github.com/KrisAirdancer/Golden_Ramen_Bowl">clone</a> of my wife and I's Wordpress blog, <a href="https://goldenramenbowl.com">goldenramenbowl.com</a></p>
            
            <h2>Resume</h2>
            <p><a href="https://krisairdancer.com/chris-marston-resume.pdf">Resume</a></p>
            <p><a href="https://www.linkedin.com/in/chris-s-marston/">LinkedIn</a></p>
            <p><a href="https://github.com/KrisAirdancer">GitHub</a></p>
            
            <h2>Contact</h2>
            <p>You can reach me on <a href="https://www.linkedin.com/in/chris-s-marston/">LinkedIn</a> or via krisairdancer-at-gmail-dot-com</p>
        </div>
    </div>
</body>
<style>
    :root {
        --blue: #122D4A;
        --orange: #FFA366;
    }
    
    body {
        margin: 0px;
        overflow-y: hidden;
        max-height: 100000px;
    }
    
    h2 {
        margin: 10px 0px 10px 0px;
        padding: 0px;
    }

    p {
        white-space: pre-wrap;
        margin: 0;
        max-width: 700px;
        font-size: 16px;
        line-height: normal;
    }

    #outer-div {
        background-color: var(--blue);
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100vw;
        padding: 10px;
        box-sizing: border-box; /* This line is the one that keeps the inner div from overflowing */
    }

    #content-div {
        width: 100%;
        height: 100%;
        border: 3px solid var(--orange);
        border-radius: 10px;
        background-color: var(--blue);
        color: var(--orange);
        box-sizing: border-box; /* This line is the one that keeps the inner div from overflowing */
        padding: 10px;
        overflow-y: scroll;
    }

    #content-div::-webkit-scrollbar {
        display: none;
    }

    #site-banner {
        max-width: 530px;
        font-size: 1.0rem;
        min-width: 600px;
    }
    
    #site-banner-mobile {
        display: none;
    }

    #site-banner-tiny {
        display: none;
    }

    /***** Media Querries *****/

    @media screen and (width <= 580px) {

        p {
            font-size: 14px;
        }

        /***** Change site banner *****/
        
        #site-banner {
            display: none;
        }

        #site-banner-mobile {
            display: block;
            font-size: 0.75rem;
            min-width: 240px;
        }

        #site-banner-tiny {
            display: none;
        }
    }

    @media screen and (width <= 280px) {
        
        p {
            min-width: 140px;
            font-size: 14px;
        }

        #site-banner {
            display: none;
        }

        #site-banner-mobile {
            display: none;
        }

        #site-banner-tiny {
            display: block;
            min-width: 140px;
            font-size: 0.75rem;
            font-weight: bold;
        }
    }
</style>
<script>
    document.querySelectorAll('.collapsible-button').forEach(collapsible => {
        collapsible.addEventListener('click', () => {
            let content = collapsible.nextElementSibling; // This retrieves the element immediately after the one this property is called on.
            
            if (content.classList.contains('collapsible-content-active')) // Collapse it
            {
                content.style.maxHeight = '0px';
                collapsible.textContent = 'View resume';
                setTimeout(() => {
                    content.classList.toggle('collapsible-content-active');
                }, 900);
            }
            else // Expand it
            {
                content.style.maxHeight = '400px';
                collapsible.textContent = 'Hide resume';
                content.classList.toggle('collapsible-content-active');
            }
        });
    });
</script>
</html>