<head>
    <title>Krisaridancer Dot Com</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <main>
        <div id="outer-div">
            <div id="content-div">
                <p id="site-banner"> ██████╗███╗   ███╗ ╦╔═╦═╗╦╔═╗╔═╗╦╦═╗╔╦╗╔═╗╔╗╔╔═╗╔═╗╦═╗<br>██╔════╝████╗ ████║ ╠╩╗╠╦╝║╚═╗╠═╣║╠╦╝ ║║╠═╣║║║║  ║╣ ╠╦╝<br>██║     ██╔████╔██║ ╩ ╩╩╚═╩╚═╝╩ ╩╩╩╚══╩╝╩ ╩╝╚╝╚═╝╚═╝╩╚═<br>██║     ██║╚██╔╝██║ The Portfolio of Chris Marston<br>╚██████╗██║ ╚═╝ ██║ v0.2.0<br> ╚═════╝╚═╝     ╚═╝</p>
                <p id="site-banner-mobile"> ██████╗███╗   ███╗ The<br>██╔════╝████╗ ████║ Portfolio of<br>██║     ██╔████╔██║ Chris Marston<br>██║     ██║╚██╔╝██║ v0.2.0<br>╚██████╗██║ ╚═╝ ██║<br> ╚═════╝╚═╝     ╚═╝</p>

                <h2>About</h2>
                <p>I'm Chris Marston and welcome to my website. I'm a computer science student in the United States. When I'm not studying for exams, you'll likely find me at my keyboard working on a project, climbing, or hiking.</p>
                
                <h2>Projects</h2>
                <p>- <a href="https://krisairdancer.github.io/6630-lego-set-visualizer/index.html">Final Project</a> for CS 5630: Visualization for Data Science</p>
                <p>- A <a href="https://github.com/KrisAirdancer/vidya-clone">clone</a> of the <a href="https://www.vipvgm.net/">Vidya Intarweb Playlist</a> by Cats777 - WIP</p>
                <p>- This website - repo <a href="https://github.com/KrisAirdancer/krisairdancer-dot-com">here</a></p>
                <p>- A <a href="https://krisairdancer.github.io/cs-3390-group-numbers/">webpage</a> to display group number slips from my CS 3390 class</p>
                <p>- A <a href="https://github.com/KrisAirdancer/Golden_Ramen_Bowl">clone</a> of my wife and I's Wordpress blog, <a href="https://goldenramenbowl.com">goldenramenbowl.com</a></p>
                
                <h2>Resume</h2>
                <p><a href="https://krisairdancer.com/chris-marston-resume.pdf">Resume</a></p>
                <p><a href="https://www.linkedin.com/in/chris-s-marston/">LinkedIn</a></p>
                <p><a href="https://github.com/KrisAirdancer">GitHub</a></p>
                
                <h2>Contact</h2>
                <p>You can reach me on <a href="https://www.linkedin.com/in/chris-s-marston/">LinkedIn</a> or via krisairdancer-at-gmail-dot-com</p>
            </div>
        </div>
    </main>
</body>
<style>
    :root {
        --blue: #122D4A;
        --orange: #FFA366;
    }
    
    body {
        margin: 0px;
        overflow-y: hidden;
    }

    #outer-div {
        background-color: var(--blue);
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 10px;
        box-sizing: border-box; /* This line is the one that keeps the inner div from overflowing */
    }

    #content-div {
        width: 100%;
        height: 100%;
        border: 3px solid var(--orange);
        border-radius: 10px;
        background-color: var(--blue);
        color: var(--orange);
        box-sizing: border-box; /* This line is the one that keeps the inner div from overflowing */
        padding: 10px;
        overflow-y: scroll;
    }

    #content-div::-webkit-scrollbar {
        display: none;
    }

    #site-banner-mobile {
        display: none;
    }

    /***** Collapsible Content Styles *****/

    .collapsible-button {
        color: var(--orange);
        background-color: var(--blue);
        border: 1px solid var(--orange);
        border-radius: 5px;
        cursor: pointer;
        width: 800px;
        margin: 10px 5px 5px 0px; /* Top Right Bottom Left */
    }

    .collapsible-button:hover {
        color: white;
        border-color: white;
    }

    /* Hide collapsible content when collapsed */
    .collapsible-content {
        display: flex;
        overflow: hidden;
        max-height: 0px;
        max-width: 800px;
        border-radius: 5px;
        justify-content: center;
        box-sizing: border-box;
        transition: max-height 1s;
    }
    
    .collapsible-content-active {
        border: 1px solid var(--orange);
    }

    #resume-pdf {
        width: 800px;
        height: 500px;
        min-height: 500px;
        max-height: 500px;
        min-width: 800px;
        max-width: 800px;
    }

    h2 {
        margin: 10px 0px 10px 0px;
        padding: 0px;
    }

    p {
        white-space: pre-wrap;
        margin: 0;
        max-width: 800px;
    }

    /***** Media Querries *****/

    @media screen and (width < 850px) {
        
        body {
            font-size: 14px;
        }

        /***** Adjust site width *****/

        h2 {
            max-width: 480px;
            width: 480px;
        }

        p {
            max-width: 480px;
            width: 480px;
        }

        .collapsible-button {
            max-width: 480px;
            width: 480px;
        }

        .collapsible-content {
            max-width: 480px;
            width: 480px;
        }

        #resume-pdf {
            width: 480px;
            min-width: 480px;
            max-width: 480px;
        }
    }

    @media screen and (width < 530px) {

        body {
            font-size: 12px;
        }

        /***** Change site banner *****/
        
        #site-banner {
            display: none;
        }

        #site-banner-mobile {
            display: block;
        }

        /***** Adjust site width *****/

        h2 {
            max-width: 240px;
            width: 240px;
        }

        p {
            max-width: 240px;
            width: 240px;
            margin-bottom: 2px;
        }

        .collapsible-button {
            max-width: 240px;
            width: 240px;
        }

        .collapsible-content {
            max-width: 240px;
            width: 240px;
        }

        #resume-pdf {
            width: 240px;
            min-width: 240px;
            max-width: 240px;
        }
    }
</style>
<script>
    document.querySelectorAll('.collapsible-button').forEach(collapsible => {
        collapsible.addEventListener('click', () => {
            let content = collapsible.nextElementSibling; // This retrieves the element immediately after the one this property is called on.
            
            if (content.classList.contains('collapsible-content-active')) // Collapse it
            {
                content.style.maxHeight = '0px';
                collapsible.textContent = 'View resume';
                setTimeout(() => {
                    content.classList.toggle('collapsible-content-active');
                }, 900);
            }
            else // Expand it
            {
                content.style.maxHeight = '400px';
                collapsible.textContent = 'Hide resume';
                content.classList.toggle('collapsible-content-active');
            }
        });
    });
</script>