<title>Airdancer Pi</title>
<!-- TODO: Fix favicon -->
<link rel="shortcut icon" href="../../public/wind-icon.png" type="image/png">
<body>
    <main>
        <div id="outer-div">
            <div id="content-div">
                <p>██╗  ██╗██████╗  █████╗ ██████╗  ██████╗  ╦╔═╦═╗╦╔═╗╔═╗╦╦═╗╔╦╗╔═╗╔╗╔╔═╗╔═╗╦═╗<br>██║ ██╔╝╚════██╗██╔══██╗╚════██╗██╔════╝  ╠╩╗╠╦╝║╚═╗╠═╣║╠╦╝ ║║╠═╣║║║║  ║╣ ╠╦╝<br>█████╔╝  █████╔╝███████║ █████╔╝███████╗  ╩ ╩╩╚═╩╚═╝╩ ╩╩╩╚══╩╝╩ ╩╝╚╝╚═╝╚═╝╩╚═<br>██╔═██╗  ╚═══██╗██╔══██║██╔═══╝ ██╔═══██╗ The Portfolio of Chris Marston<br>██║  ██╗██████╔╝██║  ██║███████╗╚██████╔╝ v0.2.0<br>╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚══════╝ ╚═════╝</p>
                <h2>Projects</h2>
                <p><a href="https://krisairdancer.github.io/6630-lego-set-visualizer/index.html">Final Project</a> for CS 5630: Visualization for Data Science</p>
                <h2>About</h2>
                <p>TODO</p>
                <h2>Resume</h2>
                <p>TODO: Add link to LinkedIn, GitHub, and a copy of my resume (the PDF)</p>
                <h2>Contact</h2>
                <p>TODO: LinkedIn link</p>
            </div>
        </div>
    </main>
</body>
<style>
    :root {
        --blue: #122D4A;
        --orange: #FFA366;

        /* --blue: #184674;
        --orange: #D28140; */
        
        /* --blue: #DCD7D5; */

        /* --blue: #5a6c7d;
        --orange: #5b2a04; */
    }

    body {
        background-color: var(--blue);
        margin: 0px;
        font-family:'Courier New', Courier, monospace
    }

    #outer-div {
        background-color: var(--blue);
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 10px;
        box-sizing: border-box; /* This line is the one that keeps the inner div from overflowing */
    }

    #content-div {
        width: 100%;
        height: 100%;
        border: 3px solid var(--orange);
        border-radius: 10px;
        background-color: var(--blue);
        color: var(--orange);
        box-sizing: border-box; /* This line is the one that keeps the inner div from overflowing */
        padding: 10px;
    }

    p {
        white-space: pre-wrap;
        margin: 0;
    }

    a:link {
        color: var(--orange);
        text-decoration: underline dotted;
    }

    a:visited {
        color: var(--orange);
        text-decoration: underline dotted;
    }

    a:hover {
        color: white;
    }
</style>