<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Portfolio</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <!-- <p id="site-banner"> ██████╗███╗   ███╗ ╦╔═╦═╗╦╔═╗╔═╗╦╦═╗╔╦╗╔═╗╔╗╔╔═╗╔═╗╦═╗<br>██╔════╝████╗ ████║ ╠╩╗╠╦╝║╚═╗╠═╣║╠╦╝ ║║╠═╣║║║║  ║╣ ╠╦╝<br>██║     ██╔████╔██║ ╩ ╩╩╚═╩╚═╝╩ ╩╩╩╚══╩╝╩ ╩╝╚╝╚═╝╚═╝╩╚═<br>██║     ██║╚██╔╝██║ The Portfolio of Chris Marston<br>╚██████╗██║ ╚═╝ ██║ v0.2.0<br> ╚═════╝╚═╝     ╚═╝</p> -->
            <pre id="site-banner">
 ██████╗███╗   ███╗ ╦╔═╦═╗╦╔═╗╔═╗╦╦═╗╔╦╗╔═╗╔╗╔╔═╗╔═╗╦═╗
██╔════╝████╗ ████║ ╠╩╗╠╦╝║╚═╗╠═╣║╠╦╝ ║║╠═╣║║║║  ║╣ ╠╦╝
██║     ██╔████╔██║ ╩ ╩╩╚═╩╚═╝╩ ╩╩╩╚══╩╝╩ ╩╝╚╝╚═╝╚═╝╩╚═
██║     ██║╚██╔╝██║ The Portfolio of Chris Marston
╚██████╗██║ ╚═╝ ██║ v0.2.0
 ╚═════╝╚═╝     ╚═╝</pre>
            <!-- <p id="site-banner-mobile"> ██████╗███╗   ███╗ The<br>██╔════╝████╗ ████║ Portfolio of<br>██║     ██╔████╔██║ Chris Marston<br>██║     ██║╚██╔╝██║ v0.2.0<br>╚██████╗██║ ╚═╝ ██║<br> ╚═════╝╚═╝     ╚═╝</p> -->
            <pre id="site-banner-mobile">
 ██████╗███╗   ███╗ The
██╔════╝████╗ ████║ Portfolio of
██║     ██╔████╔██║ Chris Marston
██║     ██║╚██╔╝██║ v0.2.0
╚██████╗██║ ╚═╝ ██║
 ╚═════╝╚═╝     ╚═╝</pre>
            <!-- <p id="site-banner-tiny">The<br>Portfolio of<br>Chris Marston</p> -->
            <pre id="site-banner-tiny">
The
Portfolio of
Chris Marston</pre>

            <nav id="navbar">
                &lt;&lt;&lt;
                <a href="https://krisairdancer.com/ka">SCHub</a>
                <a href="https://krisairdancer.com/ka/guestbook">Guestbook</a>
                &gt;&gt;&gt;
            </nav>

            <h2>About</h2>
            <p>I'm Chris Marston and welcome to my website. I'm a computer science student in the United States. When I'm not studying for exams, you'll likely find me at my keyboard working on a project, climbing, or hiking.</p>
            
            <h2>Projects</h2>
            <p>- <a href="https://krisairdancer.com/5630-project">Final Project</a> (<a href="https://krisairdancer.github.io/6630-lego-set-visualizer/index.html">alt</a>) for CS 5630: Visualization for Data Science</p>
            <p>- A <a href="https://github.com/KrisAirdancer/vidya-clone">clone</a> of the <a href="https://www.vipvgm.net/">Vidya Intarweb Playlist</a> by Cats777 - WIP</p>
            <p>- This website - repo <a href="https://github.com/KrisAirdancer/krisairdancer-dot-com">here</a></p>
            <p>- A <a href="https://krisairdancer.com/3390-group-nums">webpage</a> (<a href="https://krisairdancer.github.io/cs-3390-group-numbers/">alt</a>) to display group number slips from my CS 3390 class</p>
            <p>- A <a href="https://github.com/KrisAirdancer/Golden_Ramen_Bowl">clone</a> of my wife and I's Wordpress blog, <a href="https://goldenramenbowl.com">goldenramenbowl.com</a></p>
            
            <h2>Resume</h2>
            <p>- <a href="https://www.linkedin.com/in/chris-s-marston/">LinkedIn</a></p>
            <p>- <a href="https://github.com/KrisAirdancer">GitHub</a></p>
            <p id="resume-download">- <a href="https://krisairdancer.com/chris-marston-resume.pdf">Resume</a></p>
            <p id="resume-download-alt">- <a href="https://krisairdancer.com/chris-marston-resume.pdf">Resume</a> (alt view)</p>
            <div id="resume-group">
                <button type="button" class="collapsible-button">View resume</button>
                <div class="collapsible-content">
                    <object data="https://krisairdancer.com/chris-marston-resume.pdf" id="resume-pdf"></object>
                </div>
            </div>
            
            <h2>Contact</h2>
            <p>You can reach me on <a href="https://www.linkedin.com/in/chris-s-marston/">LinkedIn</a> or via krisairdancer-at-gmail-dot-com</p>
        </div>
    </div>
</body>
<style>
    #site-banner {
        max-width: 530px;
        font-size: 1.0rem;
        min-width: 600px;
        margin: 0;
    }
    
    #site-banner-mobile {
        display: none;
        margin: 0;
    }

    #site-banner-tiny {
        display: none;
        margin: 0;
    }

    #resume-download {
        display: none;
    }

    #resume-download-alt {
        display: block;
    }

    /***** Collapsible Content Styles *****/

    .collapsible-button {
        color: var(--orange);
        background-color: var(--blue);
        border: 1px solid var(--orange);
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        max-width: 700px;
        margin: 10px 5px 5px 0px; /* Top Right Bottom Left */
    }
    .collapsible-button:hover {
        color: white;
        border-color: white;
    }

    /* Hide collapsible content when collapsed */

    .collapsible-content {
        display: flex;
        overflow: hidden;
        max-height: 0px;
        max-width: 700px;
        border-radius: 5px;
        justify-content: center;
        box-sizing: border-box;
        transition: max-height 1s;
    }
    
    .collapsible-content-active {
        border: 1px solid var(--orange);
    }

    #resume-pdf {
        width: 700px;
        height: 500px;
    }

    /***** Media Querries *****/

    @media screen and (width <= 580px) {

        p {
            font-size: 14px;
        }

        /***** Change site banner *****/
        
        #site-banner {
            display: none;
        }

        #site-banner-mobile {
            display: block;
            font-size: 0.75rem;
            min-width: 240px;
        }

        #site-banner-tiny {
            display: none;
        }

        #resume-group {
            display: none;
        }

        #resume-download {
            display: block;
        }

        #resume-download-alt {
            display: none;
        }
    }

    @media screen and (width <= 280px) {
        
        p {
            min-width: 140px;
            font-size: 14px;
        }

        #site-banner {
            display: none;
        }

        #site-banner-mobile {
            display: none;
        }

        #site-banner-tiny {
            display: block;
            min-width: 140px;
            font-size: 0.75rem;
            font-weight: bold;
        }

        #resume-group {
            display: none;
        }

        #resume-download {
            display: block;
        }

        #resume-download-alt {
            display: none;
        }
    }
</style>
<script>
    document.querySelectorAll('.collapsible-button').forEach(collapsible => {
        collapsible.addEventListener('click', () => {
            let content = collapsible.nextElementSibling; // This retrieves the element immediately after the one this property is called on.
            
            if (content.classList.contains('collapsible-content-active')) // Collapse it
            {
                content.style.maxHeight = '0px';
                collapsible.textContent = 'View resume';
                setTimeout(() => {
                    content.classList.toggle('collapsible-content-active');
                }, 900);
            }
            else // Expand it
            {
                content.style.maxHeight = '400px';
                collapsible.textContent = 'Hide resume';
                content.classList.toggle('collapsible-content-active');
            }
        });
    });
</script>
</html>