<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Blog</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <h1>Blog Admin</h1>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="https://krisairdancer.com/">Home</a>
                <a href="https://krisairdancer.com/ka">SCHub</a>
                <a href="https://krisairdancer.com/ka/blog">Blog</a>
                <a href="https://krisairdancer.com/ka/guestbook">Guestbook</a>
                <a href="https://krisairdancer.com/ka/vidya-clone">Vidya Clone</a>
            &gt;&gt;&gt;</nav>

            <form action="https://krisairdancer.com/ka/create-post" method="POST">
                <div>
                    <label>Title*</label>
                    <br>
                    <input type="text" name="title" class="entryField" required>
                </div>
                <div>
                    <label>Post Content*</label>
                    <br>
                    <textarea name="content" cols="30" rows="10" class="entryField" id="postContentBox" required></textarea>
                </div>
                <div>
                    <label>Password*</label>
                    <br>
                    <input type="password" name="password" class="entryField" required>
                </div>
                <div>
                    <label>Author*</label>
                    <br>
                    <input type="text" name="author" class="entryField" required>
                </div>
                <div>
                    <label id="dateLabel">Date*</label>
                    <br>
                    <input type="text" name="date" class="entryField" required>
                </div>
                <br>
                <button id="postButton">Post It!</button>
            </form>
            
        </div>
    </div>
</body>
<script>
    let username = prompt('Username: ')
    let password = prompt('Password: ')

    if (username != "KrisAirdancer" || password != "NotSecure") {
        window.location.replace("https://krisairdancer.com")
    }
</script>
<style>
    label {
        font-weight: bold;
    }

    .pageElement {
        max-width: 700px !important;
    }

    .entryField {
        width: 99%;
        max-width: 700px;
        background-color: var(--blue);
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 5px;
        resize: vertical;
    }

    #postButton {
        background-color: var(--blue);
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 5px;
    }

    #postButton:active {
        color: #ffffff;
        border-color: white;
    }

    #postButton:hover {
        cursor:pointer;
    }

    #postContentBox {
        height: 300px;
    }
</style>
</html>