<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Webrings</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <h1>Interesting Websites</h1>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="http://localhost:11001/">Home</a>
                <a href="http://localhost:11001/ka">SCHub</a>
                <a href="http://localhost:11001/ka/blog">Blog</a>
                <a href="http://localhost:11001/ka/vidya-clone">Vidya Clone</a>
            &gt;&gt;&gt;</nav>

            <h2>Miscellaneous</h2>

            <p>- <a href="https://devurandom.xyz/">devurandom.xyz</a></p>
            <p>- <a href="https://neocities.org/">neocities.org</a></p>
            <p>- <a href="https://exo.pet/">exo.pet</a></p>
            <p>- <a href="https://cinni.net/?z=/home">cinni.net</a></p>
            <p>- <a href="https://www.omfgdogs.com/">OMFG Dogs</a></p>

            <h2>Portfolio Sites</h2>

            <p>- <a href="https://chrisjang.com/">Chris Jang</a> - A nice looking portfolio site</p>
            <p>- <a href="https://dylanalbertazzi.com/">Dylan Albertazzi</a></p>
            
            <h2>Terminal Websites</h2>
            
            <p>- <a href="https://term.m4tt72.com/">M4TT72</a></p>
            <p>- <a href="https://fkcodes.com/">Forrest Knight Terminal</a></p>
            <p>- <a href="https://kb5vq.csb.app/">KB5VQ</a></p>
            <p>- <a href="https://craigfeldman.com/">Craig Feldman</a></p>
            
            <h2>418 Teapots</h2>
            <p>- <a href="https://www.google.com/teapot">Google 418</a></p>
            
            
        </div>
    </div>
</body>
<style></style>
<script></script>
</html>