<!DOCTYPE html>
<html lang="en" id="root-html-tag">
<head>
    <title>Vidya Clone</title>
    <meta charset="utf-8">
    <!-- <link rel="icon" href="./assets/favicon.ico" /> -->
    <link rel="icon" href="../../public/vidya-clone/assets/favicon.ico" />
    <link rel="stylesheet" href="../../vidya-clone/styles.css">
    <script src="../../vidya-clone/scripts.js"></script>
</head>
<body>

  <div id="navbar-group">

    <nav class="nav-flex-container">

      <div id="navbar-select-div">
        <select id="nav-playlist-selector">
          <option value="playlist_vip" selected>VIP</option>
        </select>
      </div>

      <div id="track-info"></div>

      <ul id="navbar-righthand-buttons">
        <li>
          <button id="btn_chosen" class="nav-button chosenButton-whole"></button>
        </li>
        <li>
          <button id="btn_exiled" class="nav-button exiledButton-ban"></button>
        </li>
        <li id="volumeBar-li">
          <div id="volumeBar-body">
            <div id="volumeBar-slider"></div>
          </div>

          <button id="btn_volume" class="nav-button volumeButton-up"></button>
        </li>
      </ul>

    </nav>

    <div id="scrubber-group">
      <div id="right-timestamp" class="scrubber-label">00:00</div>

      <div id="scrubber-body">
        <div id="scrubber-bar-background">
          <div id="scrubber-bar-progress">
            <div id="scrubber-thumb"></div>
          </div>
        </div>
      </div>

      <div id="left-timestamp" class="scrubber-label">-00:00</div>
    </div>

  </div>

  <div id="tracksList-group">
    <ul id="tracks-list"></ul> <!-- Inject tracks list HTML here -->
  </div>

  <div id='control-box-flex-container' class='control-box'>
  
    <div id="controlsBox-topBar" class='control-box-first-row control-box-element'></div>

    <div id='control-box-row-two-flex-container' class='control-box-second-row'>
      <button id="previous-track-btn" class='control-box-element playPreviousButton'></button>
      <button id="play-pause-btn" class='control-box-element playPauseButton-paused'></button>
      <button id="next-track-btn" class='control-box-element playNextButton'></button>
    </div>

    <div id='control-box-row-three-flex-container' class='control-box-third-row'>
      <button id="repeatButton" class="control-box-element repeatButton-noRepeat" style="color: #ffa366;"></button>
      <button id="headerCollapseButton" class='control-box-element headerCollapseButton'></button> <!-- TODO: This button should hide the navbar -->
    </div>
  
  </div>

  <div id="siteMenu">

    <div id="siteMenu-infoPage" class="siteMenu-page pageVisible">
      <p><span id="siteMenu-totalTracksNumber"></span> Tracks</p>
      <p>Last Update: Mon March 6 2023</p>
      <p><a href="https://krisairdancer.github.io/vidya-clone/changelog.txt">Changelog</a></p>
      <hr>
      <p>All Tracks © & ℗ Their Respective Owners</p>
      <hr>
      <p>Vidya Clone by <a href="https://krisairdancer.com" target="_blank">KrisAirdancer</a></p>
      <p>Original <a href="https://www.vipvgm.net/" target="_blank">Vidya Intarweb Playlist</a> by <a href="https://www.aersia.net/">Cats 777</a></p>
      <p>Player design by <a href="https://www.aersia.net/" target="_blank">Cats 777</a></p>
      <br>
      <p><strong>VIP</strong> = All tracks</p>
    </div>

    <div id="siteMenu-configPage" class="siteMenu-page">
      <p><strong>Configuration</strong></p>
      <hr>
      <p><strong>Odds of the Chosen</strong></p>
      <p><input type="number" value="25" min="1" max="100" name="input_chosenOdds" id="chosenOddsInput">% chance of playing Chosen tracks</p>
      <br>
      <div id="siteMenu-config-group">
        <p>Total Chosen: <span id="siteMenu-totalChosenNumber"></span></p>
        <div id="siteMenu-exportChosenButton" class="siteMenu-importExportButtons">Export Chosen</div>
        <p>Total Blocked: <span id="siteMenu-totalExiledNumber"></span></p>
        <div id="siteMenu-exportExiledButton" class="siteMenu-importExportButtons">Export Exiled</div>
        <div id="siteMenu-importChosenButton" class="siteMenu-importExportButtons">Import Chosen</div>
        <div id="siteMenu-resetChosenButton" class="siteMenu-importExportButtons">Reset Chosen</div>
        <div id="siteMenu-importExiledButton" class="siteMenu-importExportButtons">Import Exiled</div>
        <div id="siteMenu-resetExiledButton" class="siteMenu-importExportButtons">Reset Exiled</div>
      </div>
    </div>

    <ul id="siteMenu-navButtons-group">
      <li id="siteMenu-infoButton" class="siteMenu-navButton infoButton lightMenuButtonBackground"></li>
      <li id="siteMenu-configButton" class="siteMenu-navButton configButton"></li>
    </ul>

    <div id="versionTag" class="versionTag-hidden">Ver. 0.1.0</div>
  </div>

  <div id="siteMenu-showHideButton" class="menuButton"></div>
  
</body>
</html>