:root {
    --blue: #122D4A;
    --orange: #FFA366;
}

html {
    height: -webkit-fill-available; /* This accounts for the space that the navigaiton bar takes up on mobile devices */
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

body {
    height: -webkit-fill-available; /* This accounts for the space that the navigaiton bar takes up on mobile devices */
    background-color: var(--blue);
    font-family:'Courier New', Courier, monospace;
}

h1, h2 {
    color: var(--orange);
}

a:link {
    color: var(--orange);
    text-decoration: underline dotted;
}

a:visited {
    color: var(--orange);
    text-decoration: underline dotted;
}

a:hover {
    color: white;
}