:root {
    --blue: #122D4A;
    --orange: #FFA366;
}

html {
    height: -webkit-fill-available; /* This accounts for the space that the navigaiton bar takes up on mobile devices */
    font-size: 16px;
}

body {
    height: -webkit-fill-available; /* This accounts for the space that the navigaiton bar takes up on mobile devices */
    background-color: var(--blue);
    font-family:'Courier New', monospace;
    margin: 0px;
    overflow-y: hidden;
}

h1 {
    color: var(--orange);
    margin: 0px;
    padding: 0px;
}

h2, h3 {
    color: var(--orange);
    margin: 10px 0px 5px 0px;
    padding: 0px;
}

p {
    white-space: pre-wrap;
    margin: 0;
    max-width: 700px;
    font-size: 16px;
    line-height: normal;
}

a:link {
    color: var(--orange);
    text-decoration: underline dotted;
}

a:visited {
    color: var(--orange);
    text-decoration: underline dotted;
}

a:hover {
    color: white;
}

#outer-div {
    background-color: var(--blue);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box; /* This line is the one that keeps the inner div from overflowing */
}

#content-div {
    width: 100%;
    height: 100%;
    border: 3px solid var(--orange);
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--orange);
    box-sizing: border-box; /* This line is the one that keeps the inner div from overflowing */
    padding: 10px;
    overflow-y: scroll;
}

#content-div::-webkit-scrollbar {
    display: none;
}

#navbar {
    margin: 5px 0px 0px 0px;
}

#site-banner {
    max-width: 530px;
    font-size: 1.0rem;
    min-width: 600px;
    margin: 0;
}