<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Blog</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../wind-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <h1>Admin Login</h1>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="http://localhost:11001/">Home</a>
                <a href="http://localhost:11001/ka">SCHub</a>
                <a href="http://localhost:11001/ka/blog">Blog</a>
                <a href="http://localhost:11001/ka/guestbook">Guestbook</a>
                <a href="http://localhost:11001/ka/vidya-clone">Vidya Clone</a>
            &gt;&gt;&gt;</nav>

            <form action="http://localhost:11001/admin/login" method="POST">
                <div>
                    <label>Username*</label>
                    <br>
                    <input type="text" name="username" class="entryField" required>
                </div>
                <div>
                    <label>Username*</label>
                    <br>
                    <input type="password" name="password" class="entryField" required>
                </div>
                <br>
                <button id="postButton">Login</button>
            </form>
            
        </div>
    </div>
</body>
<style>
    label {
        font-weight: bold;
    }

    .pageElement {
        max-width: 700px !important;
    }

    .entryField {
        width: 99%;
        max-width: 250px;
        background-color: var(--blue);
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 5px;
        resize: vertical;
    }

    #postButton {
        background-color: var(--blue);
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 5px;
    }

    #postButton:active {
        color: #ffffff;
        border-color: white;
    }

    #postButton:hover {
        cursor:pointer;
    }

    #postContentBox {
        height: 300px;
    }
</style>
</html>