<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Admin Home</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../square-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <pre id="site-banner">
╔═╗╔╦╗╔╦╗╦╔╗╔
╠═╣ ║║║║║║║║║
╩ ╩═╩╝╩ ╩╩╝╚╝
Home</pre>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="https://krisairdancer.com/">Home</a>
                <a href="https://krisairdancer.com/schub">SCHub</a>
                <a href="https://krisairdancer.com/blog">Blog</a>
                <a href="https://krisairdancer.com/guestbook">Guestbook</a>
                <a href="https://krisairdancer.com/vidya-clone">Vidya Clone</a>
            &gt;&gt;&gt;</nav>

            <p><a href="https://krisairdancer.com/admin/post-creator">Post Creator</a></p>
            <p><a href="https://krisairdancer.com/admin/post-manager">Post Manager</a></p>
            <p><a href="https://krisairdancer.com/admin/file-uploader">File Uploader</a></p>
            <br>
            <form action="/admin/logout?_method=DELETE" method="POST">
                <button type="submit" id="postButton">Logout</button>
            </form>
            
        </div>
    </div>
</body>
<style>
    label {
        font-weight: bold;
    }

    .pageElement {
        max-width: 700px !important;
    }

    .entryField {
        width: 99%;
        max-width: 250px;
        background-color: var(--blue);
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 5px;
        resize: vertical;
    }

    /**** BUTTONS *****/

    #postButton {
        background-color: var(--blue);
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 5px;
    }

    #postButton:active {
        color: #ffffff;
        border-color: white;
    }

    #postButton:hover {
        cursor:pointer;
        color: #ffffff;
        border-color: white;
    }

    /***** OTHER *****/

    #postContentBox {
        height: 300px;
    }
</style>
</html>