<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krisaridancer - Blog</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="shortcut icon" href="../../square-icon.png" type="image/png">
</head>
<body>
    <div id="outer-div">
        <div id="content-div">
            <pre id="site-banner">
╔═╗╔╦╗╔╦╗╦╔╗╔
╠═╣ ║║║║║║║║║
╩ ╩═╩╝╩ ╩╩╝╚╝
File Uploader</pre>

            <nav id="navbar">&lt;&lt;&lt;
                <a href="https://krisairdancer.com/">Home</a>
                <a href="https://krisairdancer.com/schub">SCHub</a>
                <a href="https://krisairdancer.com/blog">Blog</a>
                <a href="https://krisairdancer.com/guestbook">Guestbook</a>
                <a href="https://krisairdancer.com/vidya-clone">Vidya Clone</a>
            &gt;&gt;&gt;</nav>
            <nav id="navbar">&lt;&lt;&lt;
                <a href="https://krisairdancer.com/admin/home">Admin Home</a>
                <a href="https://krisairdancer.com/admin/post-manager">Post Manager</a>
                <a href="https://krisairdancer.com/admin/post-creator">Post Creator</a>
            &gt;&gt;&gt;</nav>

            <form id="fileUploadForm" action="https://krisairdancer.com/admin/upload-file" method="POST" enctype="multipart/form-data">
                <input type="file" name="imageInput" id="fileUploadInput"/>
                <br>
                <button class="btn">Upload File</button>
            </form>
            
            <div id="filesList">
                <%- fileList %>
            </div>
            
        </div>
    </div>
</body>
<style>
    #fileUploadForm {
        margin-top: 20px;
    }

    #fileUploadInput {
        cursor: pointer;
    }

    #fileUploadInput::file-selector-button {
        background-color: var(--blue);
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        width: 100px;
    }

    #fileUploadInput::file-selector-button:hover {
        color: #ffffff;
        border-color: white;
    }

    /***** Post Button *****/
    
    .btn {
        background-color: var(--blue);
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 5px;
        width: 100px;
    }
    
    .btn:active {
        color: #ffffff;
        border-color: white;
    }
    
    .btn:hover {
        cursor:pointer;
        color: #ffffff;
        border-color: white;
    }

    /***** FILES LIST *****/

    #filesList {
        margin-top: 20px;
        max-width: 700px;
    }

    .fileEntry {
        display: flex;
        align-items: center;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid var(--orange);
        border-radius: 5px;
        overflow-x: scroll;
    }

    .fileEntry::-webkit-scrollbar {
        display: none;
    }
    
    .fileEntry img {
        margin-right: 5px;
        border: 1px solid var(--orange);
        border-radius: 5px;
        width: 75px;
    }
</style>
</html>