#input-symbol {
    margin-right: 10px;
    font-weight: bold;
}

/* TODO: Style the cursor of the input field. */
/* > Cursor should be a block cursor. */
/* Input field should focus when any part of the terminal is clicked on. */
input {
    all: unset;

    font-weight: bold;
    color: var(--tan);
}