<!-- The HTML files used wiht hte EJS package manager have the extension .ejs -->
<title>Airdancer Pi - 404</title>
<html lang="en">
    <body>
        <div class="not-found content">
            <h2>Oops, page not found.</h2>
        </div>
    </body>
</html>