<link rel="stylesheet" href="styles.css">
<title>Airdancer Pi</title>
<link rel="icon" href="/public/airdancer_player_assets/pie-icon.png" type="image/png">
<body>
    <h1>Welcome to Airdancer Pi!</h1>

    <ul>
        <li>
            <a href="/airdancer-player">Airdancer Player</a>
        </li>
    </ul>
</body>