<!-- The HTML files used wiht hte EJS package manager have the extension .ejs -->
<title>Airdancer Pi - 404</title>
<link rel="shortcut icon" href="/wind-icon.png" type="image/png">
<html lang="en">
    <body>
        <div class="not-found content">
            <h2>Oops, page not found.</h2>
            <a href="http://localhost:11001">Back to home</a>
        </div>
    </body>
</html>