<!-- The HTML files used wiht hte EJS package manager have the extension .ejs -->
<head>
    <title>Krisairdancer Dot Com - 404</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="/wind-icon.png" type="image/png">
</head>
<html lang="en">
    <body>
        <div>
            <h2>Oops, page not found.</h2>
            <a href="https://krisairdancer.com">Back to home</a>
        </div>
    </body>
</html>
<style>
    /* TODO: Clear out unused code */
    /* :root {
        --blue: #122D4A;
        --orange: #FFA366;
    } */

    /* body {
        background-color: var(--blue);
        margin: 0px;
        font-family:'Courier New', Courier, monospace;
        overflow-y: hidden;
    }

    h1, h2 {
        color: var(--orange);
    }

    div {
        margin: 10px;
    }

    a:link {
        color: var(--orange);
        text-decoration: underline dotted;
    }

    a:visited {
        color: var(--orange);
        text-decoration: underline dotted;
    }

    a:hover {
        color: white;
    } */
</style>